@font-face 
	font-family: 'Pricedown'
	src: url('pricedown_bl-webfont.eot') format('eot'),
		url('pricedown_bl-webfont.woff') format('woff'),
		url('pricedown_bl-webfont.ttf') format('truetype'),
		url('pricedown_bl-webfont.svg') format('svg')
	font-weight: normal
	font-style: normal
	
#loading
	z-index: 1002
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 100%
	background: url('../ui/splashscreen.png') #000000 no-repeat center
	background-size: contain
	font-family: 'Pricedown'
	color: white
	text-shadow: 2px 2px 0px #333
	font-size: 36px
	background: -webkit-linear-gradient(69deg, #1b1917 0%, #a60a0a 60%)
	background: linear-gradient(21deg, #1b1917 0%, #a60a0a 60%)
	
#loading img#splash
	float: left
	position: absolute
	bottom: 0
	left: 50px
#loadingText
	height: 100%
	margin-left: 50%
	width: 50%
	text-align: center
	align: center
	line-height: 40px
	
#loadingText .inner
	padding: 20px

#loadingText h1
	font-weight: bold
	font-size: 48px
	
#loadingText table
	align: center
	margin: auto
	
#loadingText p
	margin-top: 40px
	
#loadingText td
	text-align: center
	padding-left: 20px
	padding-right: 20px
	
#loadingText button
	font-family: 'Pricedown'
	font-size: 48px
	height: 52px
	color: white
	text-shadow: 2px 2px 0px #333
	
#game
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 100%
	overflow: hidden
	
#container 
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 100%

#cargo-frame
	z-index: 1001
	position: absolute
	top: 12px
	left: 12px

#victim-timeleft
	z-index: 1001
	font-family: 'Pricedown'
	color: white
	text-shadow: 2px 2px 0px #333
	font-weight: bold
	font-size: 18px

#crash-frame
	z-index: 1001
	font-family: 'Pricedown'
	position: absolute
	top: 12px
	right: 12px

#cash
	z-index: 1001
	color: white
	text-shadow: 2px 2px 0px #333
	font-weight: bold
	font-size: 48px

#police-frame
	z-index: 1001
	position: absolute
	bottom: 12px
	left: 0
	width: 100%
	text-align: center

.busted-line
	z-index: 1000
	background #000
	width 0px
	height 120px
	// -webkit-transform-origin 0% 0%
	-webkit-transform rotate(85deg)
	transform rotate(85deg)

#busted-text
	font-family: 'Pricedown'
	text-shadow: 2px 2px 0px #333
	font-weight: bold
	color: #B00
	position: absolute 
	top: -10em
	width: 100%
	text-align: center
	font-size: 20em
	-webkit-animation: busted-text 1s 0.3s linear forwards
	animation: busted-text 1s 0.3s linear forwards

@keyframes busted {
	from {
		width: 0px
	}

	to {
		width: 100%
	}
}

@keyframes busted-text {
	0%   { top: 0em; -webkit-animation-timing-function:ease-in; animation-timing-function:ease-in;  }
	37%  { top:500px; -webkit-animation-timing-function:ease-out; animation-timing-function:ease-in; }
	55%  { top:375px; -webkit-animation-timing-function:ease-in; animation-timing-function:ease-in;  }
	73%  { top:500px; -webkit-animation-timing-function:ease-out; animation-timing-function:ease-in; }
	82%  { top:465px; -webkit-animation-timing-function:ease-in; animation-timing-function:ease-in;  }
	91%  { top:500px; -webkit-animation-timing-function:ease-out; animation-timing-function:ease-in; }
	96%  { top:490px; -webkit-animation-timing-function:ease-in; animation-timing-function:ease-in; }
	100% { top:500px; }
}
