.row
	.col-md-6.hidden-xs.hidden-sm
		img.img-responsive(src='ui/splashscreen_solo.png')
	.col-md-6.text-center
		h1 Welcome to Liverty City, stranger!
		p.lead
			| Here is where the fun dies on the streets.
		.jumbotron
			p
				| Be quick to gather up the remains of road casualties before the officials can and cash their organs in at the black market butcher.
			dl.dl-horizontal
				dt
					.key ▲
					| &nbsp;
					.key ▼
				dd.
					Gas and Brake
				dt
					.key ◀
					| &nbsp;
					.key ▶
				dd.
					Steering Wheel
				dt
					.key SPACE
				dd.
					Body Grabber
		.btn-group.btn-group-lg
			button.btn.btn-default.mute
				span.glyphicon.glyphicon-volume-up
			button.btn.btn-primary.start 
				| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

audio#bg0(preload='auto', autoplay, loop)
	source(type='audio/ogg',  src='sound/bg0.ogg')
	source(type='audio/mpeg', src='sound/bg0.mp3')
