!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='chrome=1')
		title Grand Theft Ambulance
		link(rel='stylesheet', href='css/app.css')
		//if IE
			style
				.chromeFrameOverlayCloseBar { display:none; }
			script(src='http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js')
			script
				window.attachEvent('onload', function() {
					CFInstall.check({ mode: "overlay" });
				});
		script(src='js/vendor.js')
		script(src='js/templates.js')
		script(src='js/app.js')
		script
			require('application');
		script
			function start() {
				$('#loading').hide();
				$('#game').show();
			}
	body
		block content
